body {
	font-family: 'PT Serif', serif;;
	background-color: #2b4b41;
	color: white
}

.toolbar {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	background-color: #2b4b41;
	padding: 1px;
	border: 4px solid;
	border-color: #67b49d;
}

.linkbtn {
	display: block;
	width: 60px;
	cursor: pointer;
	background-color: #ace7ae;
	border-radius: 20px;
	float: right;
}

h1 {
	text-shadow: 4px 4px 4px #aaa;
}

h2 {
	text-shadow: 2px 2px 2px #aaa;
}

.results {
	display: none;
}

p {
	text-shadow: 1px 1px 1px black;
}
  
.mobilelink {
	display: block;
	cursor: pointer;
	background-color: #ace7ae;
	width: 100%;
	font-size: 20px;
}

#mobilelink {
	overflow: hidden;
	transition: 0.3s;
}

nav ul {
	width: 15%;
	background-color: #ace7ae;
	position: absolute;
	top: 60px;
	right: 0;
	z-index: 2;
	text-align: left;
	border-radius: 20px;
}

nav ul li {
	list-style: none;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

nav ul li a {
	text-decoration: none;
	color: #000;
}

button {
	background-color: #ace7ae;
	color: rgb(14, 10, 10);
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}

.select {
	background-color: #ace7ae;
	text-align: center;
	color: rgb(14, 10, 10);
	text-shadow: 1px 1px 1px #aaa;
	padding: 4px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
  
/* Piano page specific styles below */

.kbdbox {
	flex: 1;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	padding: 1vw;
	background-color: #67b49d;
}

table {
    table-layout: fixed;
	border: 0;
	border-collapse: collapse;
	justify-content: center;
	margin: 20%;
	margin-top: 0.1%;
	margin-bottom: 0.1%;
}
  
  /* Excel generated styles*/

.black-highlight {
	background:black;

}

.black {
	background:#67b49d;

}

.white {
	background:#67b49d;

}

.white-highlight {
	background:#F2F2F2;

}

.space-cell {
	background: gray;
}

.top-row {
	height: 0.1vw; /*1pt*/
	background:gray;
}

.blackkey-row {
	height: 27vw; /*225pt; 0.3vw=67.5vw*/
}

.middle-row {
	height: 0.1vw;
}

.whitekey-row {
	height: 13.5vw; /* 112.5pt; 0.3vw=33.75vw*/
}

.bottom-row {
	height: 0.1vw;
	background:gray;
}

.col-s {
	width: 0.1vw;
	background:gray;
}

.col-cl {
	width: 4.3vw; /*32pt*/
}

.col-csl {
	width: 3.0vw; /*22pt*/
}

.col-csr {
	width: 1.35vw; /*10pt*/
}

.col-dm {
	width: 4.6vw; /*34pt*/
}

.col-dsl {
	width: 1.35vw;
}

.col-dsr {
	width: 3.0vw;
}

.col-er {
	width: 4.6vw;
}

.col-fl {
	width: 4.3vw;
}

.col-fsl {
	width: 3.2vw; /*24pt*/
}

.col-fsr {
	width: 0.95vw; /*7pt*/
}

.col-gm {
	width: 4.3vw;
}

.col-gsl {
	width: 2.03vw; /*15pt*/
}

.col-gsr {
	width: 2.03vw;
}

.col-am {
	width: 4.3vw;
}

.col-asl {
	width: 0.95vw;
}

.col-asr {
	width: 3.2vw;
}

.col-br {
	width: 4.3vw;
}

@media (max-width: 850px) {
	.toolbar {
		padding: 0px;
		border: 1px solid;
		border-color: #67b49d;
	}

	h1 {
		font-size: 28px;
		margin: 2px;
		text-shadow: 2px 2px 2px #aaa;
	}

	h2 {
		display: block;
		font-size: 16px;
		margin: 2px;
		text-shadow: 2px 2px 2px #aaa;
	}

	.linkbtn {
		display: block;
		width: 36px;
		background-color: #ace7ae;
		border-radius: 10px;
		float: right;
	}

	.select {
		background-color: #ace7ae;
		text-align: center;
		color: rgb(14, 10, 10);
		text-shadow: 0px 0px 0px;
		padding: 0px;
		font-size: 16px;
		font-weight: none;
		border: none;
		border-radius: 2px;
	}

	.kbdbox {
		padding: 0.1vw;

	}

	table {
		margin: 20%;
		margin-top: 0.05%;
		margin-bottom: 0.05%;
	}

	button {
		background-color: #ace7ae;
		color: rgb(14, 10, 10);
		font-size: 6px;
		font-weight: none;
	}

	.mobilelink {
		display: block;
		background-color: #ace7ae;
		width: 100%;
		font-size: 16px;
	}

	#mobilelink {
	overflow: hidden;
	transition: 0.3s;
	}

	nav ul {
		width: 20%;
		background-color: #ace7ae;
		position: absolute;
		top: 20px;
		right: 0;
		z-index: 2;
		text-align: right;
		border-radius: 2px;
	}

	nav ul li {
		list-style: none;
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	nav ul li a {
		text-decoration: none;
		color: #000;
	}

	.blackkey-row {
		height: 24.3
	}
	.whitekey-row {
		height: 12.2vw; /* 112.5pt; 0.3vw=33.75vw*/
	}

	.col-cl {
		width: 3.9vw; /*32pt*/
	}

	.col-csl {
		width: 2.7vw; /*22pt*/
	}

	.col-csr {
		width: 1.22vw; /*10pt*/
	}

	.col-dm {
		width: 4.15vw; /*34pt*/
	}

	.col-dsl {
		width: 1.22vw;
	}

	.col-dsr {
		width: 2.7vw;
	}

	.col-er {
		width: 4.15vw;
	}

	.col-fl {
		width: 3.88vw;
	}

	.col-fsl {
		width: 2.88vw; /*24pt*/
	}

	.col-fsr {
		width: 0.86vw; /*7pt*/
	}

	.col-gm {
		width: 3.87vw;
	}

	.col-gsl {
		width: 1.83vw; /*15pt*/
	}

	.col-gsr {
		width: 1.83vw;
	}

	.col-am {
		width: 3.87vw;
	}

	.col-asl {
		width: 0.86vw;
	}

	.col-asr {
		width: 2.88vw;
	}

	.col-br {
		width: 3.87vw;
	}
}

@media (max-width: 450px) {

	h1 {
		font-size: 16px;
		margin: 2px;
		text-shadow: 2px 2px 2px #aaa;
	}

	h2 {
		display: none;
	}

	.mobilelink {
		display: block;
		background-color: #ace7ae;
		width: 100%;
		font-size: 10px;
	}

	.linkbtn {
		display: block;
		width: 20px;
		background-color: #ace7ae;
		border-radius: 5px;
		float: right;
	}

	.select {
		background-color: #ace7ae;
		text-align: center;
		color: rgb(14, 10, 10);
		text-shadow: 0px 0px 0px;
		padding: 0px;
		font-size: 10px;
		font-weight: none;
		border: none;
		border-radius: 2px;
	}

	table {
		margin: 15%;
		margin-top: 1%;
		margin-bottom: 1%;
	}

	.blackkey-row {
		height: 27vw; /*225pt; 0.3vw=67.5vw*/
	}

	.whitekey-row {
		height: 13.5vw; /* 112.5pt; 0.3vw=33.75vw*/
	}

	.col-cl {
		width: 4.3vw; /*32pt*/
	}

	.col-csl {
		width: 3.0vw; /*22pt*/
	}

	.col-csr {
		width: 1.35vw; /*10pt*/
	}

	.col-dm {
		width: 4.6vw; /*34pt*/
	}

	.col-dsl {
		width: 1.35vw;
	}

	.col-dsr {
		width: 3.0vw;
	}

	.col-er {
		width: 4.6vw;
	}

	.col-fl {
		width: 4.3vw;
	}

	.col-fsl {
		width: 3.2vw; /*24pt*/
	}

	.col-fsr {
		width: 0.95vw; /*7pt*/
	}

	.col-gm {
		width: 4.3vw;
	}

	.col-gsl {
		width: 2.03vw; /*15pt*/
	}

	.col-gsr {
		width: 2.03vw;
	}

	.col-am {
		width: 4.3vw;
	}

	.col-asl {
		width: 0.95vw;
	}

	.col-asr {
		width: 3.2vw;
	}

	.col-br {
		width: 4.3vw;
	}

}
