body {
	font-family: 'PT Serif', serif;;
	background-color: #2b4b41;
	color: white
}

.toolbar {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	background-color: #2b4b41;
	padding: 1px;
	border: 4px solid;
	border-color: #67b49d;
}

.linkbtn {
	display: block;
	width: 60px;
	cursor: pointer;
	background-color: #ace7ae;
	border-radius: 20px;
	float: right;
}

h1 {
	text-shadow: 4px 4px 4px #aaa;
}

h2 {
	text-shadow: 2px 2px 2px #aaa;
}

.results {
	display: none;
}

p {
	text-shadow: 1px 1px 1px black;
}
  
.mobilelink {
	display: block;
	cursor: pointer;
	background-color: #ace7ae;
	width: 100%;
	font-size: 20px;
}

#mobilelink {
	overflow: hidden;
	transition: 0.3s;
}

nav ul {
	width: 15%;
	background-color: #ace7ae;
	position: absolute;
	top: 60px;
	right: 0;
	z-index: 2;
	text-align: left;
	border-radius: 20px;

}

nav ul li {
	list-style: none;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

nav ul li a {
	text-decoration: none;
	color: #000;
}

button {
	background-color: #ace7ae;
	color: rgb(14, 10, 10);
	font-size: 10px;
	font-weight: bold;
	width: 100%;
	border-color: black;
}

.select {
	background-color: #ace7ae;
	text-align: center;
	color: rgb(14, 10, 10);
	text-shadow: 1px 1px 1px #aaa;
	padding: 8px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
  
/*filter page specific styles below*/

.off {
	background-color: #67b49d;
	color: black;
  }
  
.on {
	background-color: white;
	color: black;
  }

.buttonresults {
	text-align: center;
	justify-content: center;
}

table {

	table-layout: fixed;
	width: 100%;
	padding: 10px;
	color: black;
	text-align: center;
	background-color: #67b49d;
	text-shadow: 3px 3px 3px #aaa;
}

.column-container {
	column-count: 2; /* Adjust the number of columns as needed */
	column-gap: 20px;
	 /* Adjust the gap between columns as needed */
  }

.column-item {
	break-inside: avoid; /* Prevent items from breaking across columns */
	margin-bottom: 10px;
	 /* Adjust the margin between items as needed */
  }

  ol {
	  font-size: 20px;
  }

  @media (max-width: 850px) {
	  .toolbar {
		  padding: 0px;
		  border: 1px solid;
		  border-color: #67b49d;
	  }

	  h1 {
		  font-size: 12px;
		  margin: 2px;
		  text-shadow: 2px 2px 2px #aaa;
	  }

	  h2 {
		  display: block;
		  font-size: 10px;
		  margin: 2px;
		  text-shadow: 2px 2px 2px #aaa;
	  }

	  .linkbtn {
		  display: block;
		  width: 12px;
		  background-color: #ace7ae;
		  border-radius: 2px;
		  float: right;
	  }

	  .select {
		  background-color: #ace7ae;
		  text-align: center;
		  color: rgb(14, 10, 10);
		  text-shadow: 0px 0px 0px;
		  padding: 0px;
		  font-size: 10px;
		  font-weight: none;
		  border: none;
		  border-radius: 2px;
	  }

	  table {
		  font-size: 10px;
		  padding: 4px;
	  }

	  button {
		  background-color: #ace7ae;
		  color: rgb(14, 10, 10);
		  font-size: 6px;
		  font-weight: none;
	  }

	  .mobilelink {
		  display: block;
		  background-color: #ace7ae;
		  width: 100%;
		  font-size: 10px;
	  }

	  #mobilelink {
	  overflow: hidden;
	  transition: 0.3s;
	  }

	  nav ul {
		  width: 20%;
		  background-color: #ace7ae;
		  position: absolute;
		  top: 20px;
		  right: 0;
		  z-index: 2;
		  text-align: right;
		  border-radius: 2px;
	  }

	  nav ul li {
		  list-style: none;
		  display: block;
		  margin-top: 5px;
		  margin-bottom: 5px;
	  }

	  nav ul li a {
		  text-decoration: none;
		  color: #000;
	  }

	  ol {
		  font-size: 16px;
	}

  }

  @media (max-width: 450px) {

	  ol {
		  font-size: 16px;
	  }
	  .column-container {
		  column-count: 1; /* Adjust the number of columns as needed */
		  column-gap: 5px;
		  /* Adjust the gap between columns as needed */
	  }
	  /*.mytable2 {
	   *   transform-origin: bottom center;
	   *   transform:rotate(90deg);
	   *   width: auto;
  }
  */
  }
